[submodule "better-video-pipeline/libs/serialib"]
	path = better-video-pipeline/libs/serialib
	url = https://github.com/imabot2/serialib
[submodule "better-video-pipeline/libs/httplib"]
	path = better-video-pipeline/libs/httplib
	url = https://github.com/yhirose/cpp-httplib
